* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  margin: 20px 0 0 0;
  padding: 0;
}

#red-line {
  clear: both;
  width: 100%;
  border-bottom:4px solid #ff0000;
  line-height: 4px;
}

header,
#about,
#main,
footer {
  margin: 0 auto 0 auto; /* auto means to center */
  width: 1000px;
}

header {
  text-align: center;
}

nav {
  margin: 0.5em 0 0.5em;
}

a {
color: #000000;
}

a:hover {
color: #ffffff;
background-color: #FF0000;
}

/* make the hover background extend past the italic font. */
nav a {
  padding: 0 1px;
}

/* paragraph tags inside of the About section */
#about p {
  margin: 1.5em 0 ;
}

#about {
  max-height: 0px;
  overflow-y: hidden;
  background-color: #ddd;
  padding: 0 0.75em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

#about.active {
  max-height: 400px;
}

/* font style for the IMAGES subpages */
.italic { font-style: italic; }


#main {
  overflow-y: auto;
}

#left, #right {
  float: left;
  width: 48%;
  margin: 1em 0;
  text-align: center;
  height: 570px;
  overflow-y: hidden;
  position: relative;
}

#left {
  margin-right: 4%;
}

.count {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #999;
  text-align: center;
}

.caption {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
  font-style: italic;
}

.images .image {
  width: 100%;
  height: 500px;
  margin-bottom: 70px;
}

.images .image img {
  max-width: 100%;
  max-height: 100%;
}

.images {
  position: absolute;
  overflow-y: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 100%;
}

/* CRENELLATED STYLES */

#crenellated {
  font-family: 'Arvo', serif;
  background: #DF2222;
  color: #fff;
}

#crenellated header {
  margin-bottom: 4em;
}

#crenellated header img {
  width: 320px;
}

#crenellated h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-size: 2.6em;
}

#crenellated h2 {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

#crenellated h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 0.9em;
}

#crenellated p {
  margin: 0.1em 0;
}

.product-blurb {
  position: relative;
  max-width: 1000px;
  margin: 1em auto 2.5em;
  clear: both;
  overflow-y: auto;
}

.product-blurb>div {
  width: 48%;
  float: left;
  position: relative;
}

.product-image img {
  max-width: 100%;
}

.product-blurb>div:nth-child(2) {
  margin-left: 4%;
}

.product-blurb .order-this {
  text-align: center;
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.45em 0.75em;
  background: #222;
  color: #f9e71d;
}

.product-blurb .order-this:hover {
  background: #f9e71d;
  color: #222;
}

#crenellated .product-info {
  background: #fff;
  color: #222;
  padding: 1em;
}

#crenellated .underline {
  font-weight: 300;
  text-decoration: underline;
}

#crenellated #ordering-info {
  width: 550px;
  margin: 1em auto;
}