* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  margin: 20px 0 0 0;
  padding: 0;
}

#red-line {
  clear: both;
  width: 100%;
  border-bottom:4px solid #ff0000;
}

header,
#about,
#main,
footer {
  margin: 0 auto 0 auto; /* auto means to center */
  width: 890px;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
color: #000000;
}

a:hover {
color: #ffffff;
background-color: #FF0000;
}

/* make the hover background extend past the italic font. */
nav a {
  padding: 0 1px;
}

/* paragraph tags inside of the About section */
#about p {
  margin: 1.5em 0 ;
}

#about {
  max-height: 0px;
  overflow-y: hidden;
  background-color: #ddd;
  padding: 0 0.75em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

#about.active {
  max-height: 400px;
}

/* font style for the IMAGES subpages */
.italic { font-style: italic; }
